.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.heart {
    fill: #ff000078;
    cursor: pointer;
}

[data-is-favorite='true'] .heart {
    fill: red;
}

.random-movie {
    background-position: center;
    background-size: cover;
}

.card {
    height: 100%;
}

.card img {
    flex-grow: 1;
}

.card-body {
    flex-grow: 0;
}
